.container {
  min-width: 1150px;
  max-width: 1580px;
  padding: 0 10px;
}

/* section-header */
.container-header {
  max-width: 1170px;
  padding: 0px;
  gap: 0px;
}

.container-header-left {
  background-color: #f7f7f7;
  min-width: 100px;
}
.heder-social-li {
  padding: 0px;
}

.svg-logo {
  top: 22px;
}

.container-header-div-text {
  background-image: url("../images/main-foto-barbershop1170px.png");
  min-width: 1070px;
  min-height: 680px;
}

.menu {
  top: 38px;
  left: 200px;
  gap: 30px;
}

.contacts {
  top: 32px;
  right: 17px;
}

.contacts-list {
  flex-direction: row-reverse;
  align-items: center;
  gap: 20px;
}

.text-content {
  top: 50%;
  left: 100px;
  gap: 20px;
}

.nav-buttons {
  gap: 20px;
  bottom: 40px;
  right: 20px;
}

/* main-first */
.section-main-first {
  padding: 120px 0px;
}

.container-main-first {
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 1150px;
}

.one-section-image-container {
  min-height: 445px;
  flex-direction: row;
}

.container-main-first-text {
  min-width: 470px;
}

/* container-section-one */
.section-one {
  padding-bottom: 120px;
}

.container-section-one {
  width: 100%;
  max-width: 1600px;
  min-height: 691px;
  max-height: 692px;
  background: url("../images/section-one4-1170px.png") center/cover no-repeat,
    linear-gradient(rgba(17, 19, 25, 0.8), rgba(17, 19, 25, 0.8));
}

.container-section-one-text {
  align-self: flex-start;
  width: 900px;
}

.container-section-one-ul {
  max-width: 1170px;
  gap: 30px;
  flex-direction: row;
  min-height: 240px;
  margin-bottom: 0px;
  background-color: transparent;
}

.container-section-one-ul-one,
.container-section-one-ul-two {
  display: flex;
  justify-content: center;
  min-width: 570px;
  min-height: 240px;
}

.container-section-one-ul-one {
  background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.container-section-one-ul-two {
  background: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
}

.container-section-one-li {
  width: 80%;
}

.container-section-one-btn {
  margin-bottom: 0px;
}

/* .container-section-one-wrapper {
  max-width: 1170px;
  width: 100%;
  display: flex;
   flex-direction: column;
  align-items: flex-start;
}  */

/* section-two */
.section-two {
  padding-bottom: 120px;
}

.container-section-two {
  display: flex;
  max-width: 1000px;
  flex-direction: row-reverse;
  gap: 135px;
}

.container-section-two-text {
  width: 100%;
  margin: 0px;
}

.container-section-two-ul {
  align-items: center;

  margin-left: 0px;
  width: 100%;
}

/* section-three */
.section-three {
  padding-bottom: 120px;
}

.container-section-threetext {
  max-width: 1400px;
}

.container-section-three-all-list {
  flex-direction: row;
  gap: 30px;
  justify-content: center;
}

.foto-div {
  padding: 0px;
}

/* section-four */
.section-four {
  padding-bottom: 120px;
}

.section-four-image-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  justify-content: center;
  min-width: 1170px;
}

.container-section-four-p {
  min-width: 1170px;
  margin-bottom: 0px;
}

/* section-five section-contact section-footer через абсолют
 */
.container-contact-all {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 1171px;
  max-width: 1580px;
  justify-content: center;
}

.container-section-five {
  display: flex;

  width: 48%;
  max-height: 625px;
  padding: 0px;
  align-items: flex-end;
  padding-right: 25px;
}

.container-section-five-title {
  width: 570px;
  align-items: flex-start;
  text-align: left;
}

.container-section-five-button {
  align-items: flex-start;
}

.container-section-contact {
  max-width: 785px;
  width: 50%;
  height: 625px;
  padding: 0px;
}

.container-section-five-button-div {
  width: 75%;
  display: flex;
  justify-content: flex-start; /* вирівнює кнопку вліво */
}

.footer-wrapper {
  width: 100%;
  gap: 773px;
}

.container-section-five-form {
  width: 570px;
  resize: both;
}

.container-section-five-label-textarea {
  min-width: 570px;
}

.container-section-five-textarea {
  resize: both;
  min-width: 80%;
}

.contact-content-wrapper {
  flex-direction: column;
  gap: 70px;
  padding-left: 120px;
  max-width: 270px;
}

.container-section-contact-li-link {
  gap: 16px;
}

.container-section-contact-h3 {
  max-width: 270px;
  padding-left: 120px;
}

.footer-wrapper {
  max-width: 1580px;
  margin: 0 auto;
  justify-content: space-evenly;
}
